image: gitlab.green-rabbit.net:5050/kimata/local-ubuntu:260104_3efe597c

variables:
    UV_LINK_MODE: copy
    UV_CACHE_DIR: .uv-cache
    PYRIGHT_PYTHON_FORCE_VERSION: latest

default:
    before_script:
        - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY

stages:
    - build
    - test
    - renovate

build-react:
    stage: build

    needs: []

    image: node:24.12@sha256:b52a8d1206132b36d60e51e413d9a81336e8a0206d3b648cabd6d5a49c4c0f54

    before_script: []

    script:
        - cd frontend
        - npm ci --cache .npm --prefer-offline
        - npm run build
    artifacts:
        paths:
            - frontend/dist/
    cache:
        key: "${CI_JOB_NAME}"
        paths:
            - .npm/

test-prepare:
    stage: build

    needs: []

    script:
        - uv sync --locked --no-editable

    cache:
        - key:
              files:
                  - uv.lock
          paths:
              - $UV_CACHE_DIR

test-typecheck:
    stage: test

    needs:
        - test-prepare

    script:
        - uv run python -m pyright
        - uv run mypy src/

    cache:
        - key:
              files:
                  - uv.lock
          paths:
              - ${UV_CACHE_DIR}

test-unit:
    stage: test

    needs:
        - test-prepare

    script:
        - uv run pytest

    cache:
        - key:
              files:
                  - uv.lock
          paths:
              - ${UV_CACHE_DIR}

    artifacts:
        when: always
        paths:
            - reports/**
        reports:
            junit: reports/junit-report.xml
            coverage_report:
                coverage_format: cobertura
                path: reports/coverage.xml

renovate:
    stage: renovate
    dependencies: []
    resource_group: renovate
    image:
        name: gitlab.green-rabbit.net:5050/kimata/local-renovate:260104_3da7b77b

    before_script: []

    variables:
        RENOVATE_CACHE_DIR: .renovate-cache
        LOG_LEVEL: info

    script:
        - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

    cache:
        key: renovate-cache
        paths:
            - ${RENOVATE_CACHE_DIR}

    rules:
        - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
          when: never
        - if: $CI_PIPELINE_SOURCE == "schedule"
        - changes:
              - renovate.json
