@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root > section:last-of-type {
  flex: 1;
}

.uptime-display,
.uptime-display * {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}
